<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net452" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net40-Client" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net40-client" requireReinstallation="true" />
  <package id="Extended.Wpf.Toolkit" version="2.7" targetFramework="net40" />
  <package id="Google.Protobuf" version="3.11.4" targetFramework="net452" />
  <package id="Gurux.Common" version="7.0.24.1" targetFramework="net40-Client" />
  <package id="Gurux.SMS" version="1.0.6.1" targetFramework="net40-Client" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net40-Client" />
  <package id="K4os.Compression.LZ4" version="1.1.11" targetFramework="net452" />
  <package id="K4os.Compression.LZ4.Streams" version="1.1.11" targetFramework="net452" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net452" />
  <package id="MahApps.Metro" version="0.12.1.0" targetFramework="net40-client" requireReinstallation="true" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.Runtime.Common" version="12.0.2402.15" targetFramework="net40" />
  <package id="MySql.Data" version="8.0.22" targetFramework="net452" />
  <package id="MySql.Data.Entities" version="6.8.3.0" targetFramework="net40-client" requireReinstallation="true" />
  <package id="Neodynamic.WPF.Barcode" version="5.0.3516.127" targetFramework="net40" />
  <package id="Portable.Licensing" version="1.1.0" targetFramework="net40-Client" />
  <package id="RestSharp" version="104.3.3" targetFramework="net40-Client" requireReinstallation="True" />
  <package id="SmsApiClient" version="1.1.0.27057" targetFramework="net40-Client" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net452" />
  <package id="System.Memory" version="4.5.3" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net452" />
  <package id="Xceed.Hack" version="1.0.0.1" targetFramework="net40-Client" />
</packages>