<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net40-Client" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net40-Client" />
  <package id="Extended.Wpf.Toolkit" version="2.7" targetFramework="net40" />
  <package id="Gurux.Common" version="7.0.24.1" targetFramework="net40-Client" />
  <package id="Gurux.SMS" version="1.0.6.1" targetFramework="net40-Client" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net40-Client" />
  <package id="MahApps.Metro" version="0.12.1.0" targetFramework="net40-Client" />
  <package id="MySql.Data" version="6.8.3" targetFramework="net40-Client" />
  <package id="MySql.Data.Entities" version="6.8.3.0" targetFramework="net40-Client" />
  <package id="Neodynamic.WPF.Barcode" version="5.0.3516.127" targetFramework="net40" />
  <package id="Portable.Licensing" version="1.1.0" targetFramework="net40-Client" />
  <package id="RestSharp" version="104.3.3" targetFramework="net40-Client" requireReinstallation="True" />
  <package id="SmsApiClient" version="1.1.0.27057" targetFramework="net40-Client" />
  <package id="Xceed.Hack" version="1.0.0.1" targetFramework="net40-Client" />
</packages>