<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="smsEntitiesConnectionString"
			connectionString="metadata=res://*/Models.SMSDataModel.csdl|res://*/Models.SMSDataModel.ssdl|res://*/Models.SMSDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=7120020@123;persistsecurityinfo=True;database=sms&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>